@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

body {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  background: #1f2937;
  color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.header * {
  flex-shrink: 0;
}

.header .logo {
  display: flex;
  font-size: 24px;
  font-weight: 900;
}

.header .nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

.header .nav a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
